{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<form method="post" action="/login/" class="form-login">
				{% if message %}
					<div class="alert alert-warning">{{ message }}</div>
				{% endif %}
				{% csrf_token %}
				<h2 class="text-center">欢迎登录</h2>
				<table>
				<div class="form-group">
					{{ login_form.username.label_tag }}
					{{ login_form.username }}
				</div>
				<div class="form-group">
					{{ login_form.password.label_tag }}
					{{ login_form.password }}
				</div>
				<div class="form-group">
					{{ login_form.captcha.label_tag }}
					{{ login_form.captcha }}<font color="red" size="4">{{ login_form.captcha.errors }}</font>
				</div>
				</table>
				<button type="reset" class="btn btn-default pull-left">重置</button>
				<button type="submit" class="btn btn-primary pull-right">登录</button>
			</form>
		</div>
	</div>
{% endblock %}